<!-- src/app/series/lista-series/lista-series.component.html -->
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series">
          <td>{{ serie.id }}</td>
          <td>{{ serie.titulo }}</td>
          <td>{{ serie.cadena_tv }}</td>
          <td>{{ serie.temporadas }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  