<div class="container-fluid">
  <div class="div-centered">
    <table>
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of listaseries">
          <td>
            <dd>{{ c.id }}</dd>
          </td>
          <td>
            <dd>{{ c.titulo }}</dd>
          </td>
          <td>
            <dd>{{ c.cadena_tv }}</dd>
          </td>
          <td>
            <dd>{{ c.temporadas }}</dd>
          </td>
        </tr>
        <tr>
          <td colspan="3">Seasons average:</td>
          <td>
            <span id="total-promedio"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
